.cart {
  position: fixed;
  top: 50%;
  padding: 10px 12px 10px 10px;
  font-size: 2rem;
  background: rgb(221, 215, 215);
  border-radius: 10px;
}
.cart:hover {
  font-size: 2.2rem;
}

.card-container {
  padding: 20px;
  margin: 30px;
  cursor: pointer;
}
.card-container:hover {
  background: rgb(255, 255, 255);
  border-radius: 20px;
}

.firstSpan > img {
  width: 100%;
  max-width: 50px;
}

.card-container > h4 {
  margin-top: 5px;
}
.secondSpan {
  font-weight: 700;
  padding: 3px;
  border-radius: 12px;
}

.firstP {
  margin-top: 5px;
  font-size: 1.5rem;
  font-weight: 1000;
}
