.card-container {
  padding: 20px;
  margin: 30px;
}
.card-container:hover {
  background: rgb(255, 255, 255);
  border-radius: 20px;
}

.firstSpan {
  font-size: 1.5rem;
  font-weight: 600;
}
.card-container > h4 {
  margin-top: 5px;
}
.secondSpan {
  background: rgb(120, 232, 8);
  font-weight: 700;
  padding: 3px;
  border-radius: 12px;
}

.firstP {
  margin-top: 5px;
  font-size: 1.5rem;
  font-weight: 1000;
}
